{% extends "index.html" %}
{% block content %}


<h1 class="title">Cluster {{ cluster.cluster_name }}</h1>
<h1 class="subtitle">Cluster {{ cluster.state }}</h1>
<div class="columns">
    <div class="column">
        <table class="table">
            <tr>
                <th>ID</th>
                <td>{{ cluster.cluster_id }}</td>
            </tr>
            <tr>
                <th>Cloud provider</th>
                <td>{{ cluster.workspace.type }}</td>
            </tr>
            <tr>
                <th>Workspace</th>
                <td><a
                        href={{url_for("view_workspace", workspace_id=cluster.workspace_id)}}>{{cluster.workspace_id}}</a>
                </td>
            </tr>

            <tr>
                <th>Driver type</th>
                <td>{{ cluster.driver_type }}</td>
            </tr>
            <tr>
                <th>Worker type</th>
                <td>{{ cluster.worker_type }}</td>
            </tr>
            <tr>
                <th>Workers</th>
                <td>{{ cluster.num_workers }}</td>
            </tr>
            <tr>
                <th>Created by</th>
                <td><a href={{ url_for("view_user", username=cluster.creator_user_name) }}>{{ cluster.creator_user_name }}</a></td>
            </tr>
            <tr>
                <th>Autotermination (min)</th>
                <td>{{ cluster.autotermination_minutes }}</td>
            </tr>

        </table>
    </div>
    <div class="column">
        <table class="table">
            <tr>
                <th>Running time (total)</th>
                <td>{{ cost.interval | round(1, 'common') }} h</td>
            </tr>
            <tr>
                <th>Total DBU (total)</th>
                <td>{{ cost.interval_dbu | round(1, 'common') }}</td>
            </tr>
            <tr>
                <th>Total Cost</th>
                <td>${{ cost.cost | round(2, 'common')}}</td>
            </tr>
            <tr>
                <th>Running time (7 days)</th>
                <td>{{ cost.weekly_interval_sum | round(1, 'common') }} h</td>
            </tr>
            <tr>
                <th>Total DBU (7 days)</th>
                <td>{{ cost.weekly_interval_dbu_sum | round(1, 'common') }}</td>
            </tr>
            <tr>
                <th>Total Cost (7 days)</th>
                <td>${{ cost.weekly_cost | round(2, 'common')}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="columns">
    <div class="column is-half">
        <canvas id="chart-price"></canvas>
    </div>
    <div class="column is-half">
        <canvas id="chart-clusters"></canvas>
    </div>
</div>

<h3 class="title is-3">Events</h3>
<section class="section">
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <td>Timestamp</td>
                <td>Event</td>
                <td>Details</td>
            </tr>
        </thead>
        <tbody>
            {%for event in cluster.eventFilterNot(["DRIVER_HEALTHY"])%}
            <tr>
                <td>{{ event.timestamp }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.human_details() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<script>

    var time_stats = JSON.parse('{{ time_stats | tojson | safe}}');

    interval_dbu_sum = time_stats.map(({interval_dbu_sum}) => interval_dbu_sum)
    interval_sum = time_stats.map(({interval_sum}) => interval_sum)
    labels = time_stats.map(({ts}) => ts)

    chart('chart-price', false, 'Total DBU', 'bar', true, labels, interval_dbu_sum);
    chart('chart-clusters', false, 'Running time (hours)', 'line', true, labels, interval_sum);

</script>

{% endblock %}