<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Workspaces</p>
      <p class="title">{{data.workspaces}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Clusters</p>
      <p class="title">{{data.clusters}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Daily cost</p>
      <p class="title">$459.76</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Users</p>
      <p class="title">76</p>
    </div>
  </div>
</nav>