{% extends "index.html" %}
{% block content %}


<h1 class="title">Settings</h1>

<div class="columns">
    <div class="column is-half">
        <h1 class="subtitle">Add new workspace</h1>
        <form action="" method="post" novalidate>
            {{ workspace_form.hidden_tag() }}
            <table class="table">
                <tr>
                    <th>{{ workspace_form.urlfield.label }}</th>
                    <td>{{ workspace_form.urlfield() }}</td>
                    {% for error in workspace_form.urlfield.errors %}
                    <td style="color: red;">[{{ error }}]</td>
                    {% endfor %}
                </tr>

                <tr>
                    <th>{{ workspace_form.idfield.label }}</th>
                    <td>{{ workspace_form.idfield() }}</td>
                    {% for error in workspace_form.idfield.errors %}
                    <td style="color: red;">[{{ error }}]</td>
                    {% endfor %}
                </tr>

                <tr>
                    <th>{{ workspace_form.typefield.label }}</th>
                    <td>{{ workspace_form.typefield() }}</td>
                    {% for error in workspace_form.typefield.errors %}
                    <td style="color: red;">[{{ error }}]</td>
                    {% endfor %}
                </tr>

                <tr>
                    <th>{{ workspace_form.namefield.label }}</th>
                    <td>{{ workspace_form.namefield() }}</td>
                    {% for error in workspace_form.namefield.errors %}
                    <td style="color: red;">[{{ error }}]</td>
                    {% endfor %}
                </tr>

                <tr>
                    <th>{{ workspace_form.tokenfield.label }}</th>
                    <td>{{ workspace_form.tokenfield() }}</td>
                    {% for error in workspace_form.urlfield.errors %}
                    <td style="color: red;">[{{ error }}]</td>
                    {% endfor %}
                </tr>
            </table>
            <p>{{ workspace_form.workspace_submit() }}</p>
        </form>
    </div>

    <div class="column is-half">
        {% with messages = get_flashed_messages(category_filter=['workspace']) %}
        {% if messages %}
        <h1 class="subtitle">Current workspace configs:</h1>
        {% for message in messages %}
        <pre>{{ message }}</pre><br>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>


<div class="columns">
    <div class="column is-half">
        <h1 class="subtitle">Add new workspace</h1>
        <form action="" method="post" novalidate>
            {{ workspace_form.hidden_tag() }}
            <p>{{ price_form.price.label }} {{ price_form.price() }}</p>
            <p>{{ price_form.price_submit() }}</p>
        </form>
    </div>

    <div class="column is-half">
        {% with messages = get_flashed_messages(category_filter=['price']) %}
        {% if messages %}
        <h1 class="subtitle">Actual price config:</h1>
        <table class="table">
            {% for message in messages %}
            <tr>
                <th>Cost / DBU</th>
                <td>{{ message }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% endwith %}
    </div>

</div>
{% endblock %}