{% extends "index.html" %}
{% block content %}

<h1 class="title">Workspace: {{ workspace.name }}</h1>
<h1 class="subtitle">{{ workspace.id }}</h1>


<section class="section">

    <h3 class="title is-3">Details and Costs</h3>
    <div class="columns">


        <!-- BASE STATS -->
        <div class="column is-3">
            <table class="table">
                <tr>
                    <th>Type</th>
                    <td>{{workspace.type}}</td>
                </tr>
                <tr>
                    <th>Clusters</th>
                    <td>{{workspace.clusters | length}}</td>
                </tr>
                <tr>
                    <th>Active Clusters</th>
                    <td>{{workspace.active_clusters() | length}}</td>
                </tr>
            </table>
        </div>


        <!-- COST STATS -->
        <div class="column is-3">
            <table class="table">
                <tr>
                    <th>Running time (total)</th>
                    <td>{{cost.interval | round(1, 'common')}} h</td>
                </tr>
                <tr>
                    <th>Total DBU (total)</th>
                    <td>{{cost.interval_dbu | round(2, 'common')}}</td>
                </tr>
                <tr>
                    <th>Running time (7 days)</th>
                    <td>{{cost.weekly_interval_sum | round(1, 'common')}} h</td>
                </tr>
                <tr>
                    <th>Total DBU (7 days)</th>
                    <td>{{cost.weekly_interval_dbu_sum | round(2, 'common')}}</td>
                </tr>
            </table>
        </div>


        <!-- TOP USERS -->
        <div class="column is-3">
            <table class="table">
                <thead>
                    <th colspan=2>Top users (7 days)</th>
                </thead>
                <tbody>
                    {% for user in top_users %}
                    <tr>
                        <th>{{ user.user_id }}</th>
                        <td>{{ user.dbu | round(2, 'common')}} DBU</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>

</section>


<h3 class="title is-3">Trends</h3>

<div class="columns">
    <div class="column is-half">
        <canvas id="chart-price"></canvas>
    </div>
    <div class="column is-half">
        <canvas id="chart-clusters"></canvas>
    </div>
</div>

<div class="columns">
    <div class="column is-half">
        <canvas id="chart-active-clusters"></canvas>
    </div>
    <div class="column is-half">
        <canvas id="chart-worker-hours"></canvas>
    </div>
</div>


<h3 class="title is-3">Clusters</h3>
<section class="section">
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <tr>
                <td>Name</td>
                <td>State</td>
                <td>ID</td>
                <td>Workspace</td>
                <td>Driver type</td>
                <td>Worker type</td>
                <td>Workers</td>
            </tr>
        <tbody>
            {%for cluster in workspace.clusters%}
            <tr>
                <td><a href={{ url_for("view_cluster", cluster_id=cluster.cluster_id)}}>{{cluster.cluster_name}}</a>
                </td>
                <td>{{cluster.state}}</td>
                <td>{{cluster.cluster_id}}</td>
                <td><a href="/workspaces">{{cluster.workspace.id}}</a></td>
                <td>{{cluster.driver_type}}</td>
                <td>{{cluster.worker_type}}</td>
                <td>{{cluster.num_workers}}</td>
            </tr>
            {% endfor %}

        </tbody>


        </tr>
        </thead>
    </table>
</section>


<script>

    var time_stats = JSON.parse('{{ time_stats | tojson | safe}}');

    interval_dbu_sum = time_stats.map(({ interval_dbu_sum }) => interval_dbu_sum);
    interval_sum = time_stats.map(({ interval_sum }) => interval_sum);
    worker_hours_sum = time_stats.map(({ worker_hours_sum }) => worker_hours_sum);
    active_clusters_cnt = time_stats.map(({ cluster_id_nunique }) => cluster_id_nunique);
    labels = time_stats.map(({ ts }) => ts);
    console.log('TIME_STATS', time_stats);

    chart('chart-price', false, 'Total DBU', 'bar', true, labels, interval_dbu_sum);
    chart('chart-clusters', false, 'Total DBU', 'line', false, labels, interval_sum);
    chart('chart-active-clusters', false, 'Active clusters', 'bar', true, labels, active_clusters_cnt);
    chart('chart-worker-hours', false, 'Worker hours', 'bar', true, labels, worker_hours_sum);

</script>


{% endblock %}